.input {
    position: sticky;
    top: 68px;
    width: 100%;
    background-color: #ffffff;
    z-index: 1100;
    padding: 0 0 8px;
}

@media (min-width: 400px) {
    .input {
        padding: 0 16px 8px;
    }
}
@media (min-width: 768px) {
    .input {
        padding: 0 32px 8px;
    }
}